:root {
  /* Colours */
  --color-bg: #eaeaea; /* page background /*
  --color-bg: #fceb94; /* page background /*
  --color-bg: #fcbe94; /* page background /*

  /* Header */
  --color-head-bg: #2c6f74;

  /* Logotype */
  --color-logotype-bg: #103d42;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #103d42;
  /* Links */
  --color-link-bg: #f5f7f8;
  --color-link-hover: darkgrey; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 2rem;
  --font-sub1-size: 1.1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000000;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #f5f7f8;
  --color-cta-card-bg: #2c6f74;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #ffffff;
  --color-cta-newscard-bg: #2c6f74;
  --color-cta-newscard-bg-inverted: #ffffff;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #f5f7f8;
  --color-infobox-2-bg: #f5f7f8;
}

.menuItem {
  padding: 0.6rem 1.5rem;
  background-color: #f5f7f8;
  border-radius: 10px;
  color: #103d42;
  font-weight: 600;
}

.popover-box-popover-open {
  display: grid;
}

.popover-box {
  max-width: 500px;
  top: 35%;
  left: 33%;
  padding: 1.5rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
}

[popover]::backdrop {
  backdrop-filter: blur(5px);
}
