#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

#form-section input[name="age"] {
  width: 3rem;
  text-align: center;
  box-sizing: border-box;
}

#form-section button {
  border: 5px solid black;
}

#form-section fieldset {
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 1.3rem;
  padding-bottom: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#webform {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

legend {
  font-weight: bolder;
}

#form-info h2 {
  margin-bottom: 1rem;
}

#form-info p {
  margin-top: 1rem;
}

label {
  display: block;
}

.form-group {
  display: grid;
  gap: 1.2rem;
}

label:has(input) {
  display: flex;
  align-items: center;
  gap: 0.75ch;
}

input {
  background-color: white;
  padding: 0.25rlh;
  border-radius: 10px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}

.error-message {
  color: darkred;
}

/* Form layout */
form {
  accent-color: royalblue;
}

:focus-visible {
  outline: 2px solid royalblue;
  outline-offset: 1px;
}

button:hover {
  outline: 2px solid lightgrey;
  outline-offset: 1px;
}

button:active {
  outline: 2px solid lightgrey;
  outline-offset: 1px;
}

.error-message {
  display: none;
}

.form-group:has(:required) {
  label::after {
    content: "*";
    color: red;
  }
}

.form-group:has(:user-valid) {
  input {
    outline: 3px solid green;
    border-color: darkgreen;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid red;
    border-color: darkred;
  }
  .error-message {
    display: block;
  }
}

#form-summary {
  gap: 0.5rem;
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 1.3rem;
  padding-bottom: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5.8rem;
}

#form-summary p {
  margin-top: 0.1rem;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

#form-summary div {
  text-align: left;
  border-radius: 10px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}

#daily {
  margin-bottom: 10rem;
}

.logo_img {
  font-family: Rubik, sans-serif;
}
