/* LAYOUT FOR MAIN CONTENT */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.sub {
  margin-left: -8.9rem;
}

main {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 15rem;
}
main > *:not(:first-child) {
  margin: 0 1rem;
}
main {
  grid-template-rows: min-content min-content 1fr min-content;
}

#instruction main {
  grid-template-rows: min-content min-content min-content 1fr min-content;
}
/* LAYOUT FOR HEADER AND FOOTER */
footer {
  display: grid;
  gap: 10px;
}
header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav > * {
  flex: 1;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
header ul {
  height: 100%;
  width: clamp(175px, 50%, 300px);
}
footer ul {
  flex-direction: column;
  padding-left: 1rem;
}

/* LAYOUT FOR SECTIONS */
#daily,
#breaking {
  display: grid;
}
#daily {
  grid-template-rows: repeat(2, minmax(200px, min-content));
  gap: 1rem;
}
#breaking {
  grid-template-rows: repeat(auto-fit, minmax(50px, min-content));
  gap: 0;
}

.logo-img {
  display: block;
  height: 40px;
  width: auto;
  padding: 0rem;
}

.teaser_img {
  height: auto;
  width: auto;
}

.check_img {
  height: auto;
  width: auto;
}

.info_img {
  height: auto;
  max-width: 100%;
}

.cta_btn {
  border: none;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  height: 40px;
  width: auto;
}

.logo-text {
  font-size: 24px;
}

.titel-section {
  display: grid;
  grid-template-columns: min(100%, 65ch);
  place-content: center;
  gap: 2px;
}

details {
  outline: 3px solid #2c6f74;
  border-radius: 0.5rem;
  margin-right: 10px;
}

summary {
  color: #ffffff;
  background-color: #2c6f74;
  font-weight: 400;
  cursor: pointer;
  padding: 1rem;
}

.content {
  padding: 1rem;

  p {
    margin: 0;
  }
}

/* Fjern eksisterende pil */
summary::marker {
  content: none;
}

summary::after {
  content: "+";
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}

[open] summary::after {
  content: "–";
}

#black {
  width: 120px;
  height: auto;
}

h1 {
  margin-left: 5rem;
}

p.sub {
  margin-left: 5rem;
}

@media (width > 600px) {
  #frontpage > main {
    grid-template-columns: 6fr 3fr;
    grid-template-rows: auto 1fr auto;
  }
  #instruction > main,
  #register > main {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .qr {
    order: 1;
  }

  h1 {
    grid-column: 1 / -1;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
